
.course-container {
    display: flex;
}

.barra {
    width: 225px;
    background-color: thistle;
    color: #fff;
    padding: 20px;
    z-index: 2;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    
}

.course-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}