.boos {
    background-color: #212137;
}

.course-container {
    display: flex;
}

.sidebarcs {
    height: 400vh;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.course-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}