/* Estilos para el fondo */
.body3 {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #b134db,
    #2c3e50
  ); /* Fondo degradado */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Para evitar el desplazamiento horizontal */
  position: relative; /* Establecer la posición relativa para los pseudo-elementos */
  background-size: cover;
}