/* Estilos para el fondo */
.body2 {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #b134db,
    #2c3e50
  ); /* Fondo degradado */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Para evitar el desplazamiento horizontal */
  position: relative; /* Establecer la posición relativa para los pseudo-elementos */
  background-size: cover;
}

/* Estilos específicos del formulario */
form {
  color: #fff;
  background: linear-gradient(to bottom, #3f184c44, #0b1a29);
  border: none;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.input {
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.submit {
  border: 2px solid white;
  background-color: #b134db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}