body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #b134db, #2c3e50);
  display: flex;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;  Para evitar el desplazamiento horizontal */
  /* position: relative; Establecer la posición relativa para los pseudo-elementos  */
  /* background-size: cover;  */
  background-attachment: fixed;
}

form {
  margin-top: 10%;
  color: #fff;
  background: linear-gradient(to bottom, #3f184c44, #0b1a29, #3f184c44) ;
  border: none;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
    box-shadow:
      2px 2px 5px rgb(105, 2, 250),
      6px 6px 5px white,
      15px 18px 10px black,
      10px 10px 10px rgb(0,0,0, 0.5) inset; 
}

.input {
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.submit {
  border: 2px solid white; 
  background-color: #b134db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link {
  padding: 5%;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  padding: 2px;
  background-color: #b134db;
  border: 2px solid white; 
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.gotologin {
  color: #fff;
  text-align: center;
}

.titlesing{
  text-align: center;
  color: #fff;
}
