.home-container {
    display: flex;
    height: 100vh; 
  }


.welcome-section {
    background-color: #4140406c;
    text-align: center;
    width: 100%;
  }

.cta-section {
    background-color: #4140406c;
    text-align: center;
    width: 100%;
  }
