.home-container {
    display: flex;
  }

.sidebarho {
  margin-top: 10%;
}

.welcome-section {
    background-color: #4140406c;
    text-align: center;
    width: 100%;
    padding: 2%;
  }

.cta-section {
    background-color: #4140406c;
    text-align: center;
    width: 100%;
    padding: 2%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.box-home {
  margin-top: 2%;
  margin-left: -10%;
  margin-right: 8%;
}