.footer {
    background-color: #0b0b13;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    z-index: 2;
    position: relative;
}

.copytext {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.logotext {
    width: 40px;
    height: 40px;
}


.csfooter {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.csfooter {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: rgb(0, 153, 255);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.csfooter:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}