.card {
  width: 500px; 
  margin: 10px;
  background: linear-gradient(to bottom, #3f184c44, #0b1a29, #3f184c44);
  color: #fff;
  border: none;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    2px 2px 5px rgb(105, 2, 250),
    6px 6px 5px white,
    15px 18px 10px black,
    10px 10px 10px rgb(0, 0, 0, 0.5) inset;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  margin-bottom: 15px;
}

.card-button {
  border: 2px solid white;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #8e0a3c; 
}

.course-card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 45%; /* Ajusta el ancho según tus preferencias */
  margin: 10px;
}