.background1 {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 5%;
  margin-top: 5%;
  position: relative;
  z-index: 1;
  margin-top: 5%;
  color: #fff;
  border: none;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    2px 2px 5px rgb(105, 2, 250),
    6px 6px 5px white,
    15px 18px 10px black,
    10px 10px 10px rgb(0, 0, 0, 0.5) inset;
    width: 300%; 
  margin: auto; 
}

.input {
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.icon {
  margin-top: 1.8%;
}

.flex {
  display: flex;
}

.submit {
  border: 2px solid white; 
  background-color: #b134db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link {
  padding: 5%;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  padding: 2px;
  background-color: #b134db;
  border: 2px solid white; 
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.gotologin {
  text-align: center;
}

.titlesing{
  text-align: center;
}

